/* définition des styles pricipaux de la page */

#container
{
  margin-top: 20px;
  font-size: 15px;
  position: relative;
  animation: loading_start 6s;
  
}

body
{
  @include fontnormal();
  color: black;
}

h1
{
  font-weight: normal;
  font-size: 30px;
}

h2
{
  @include fontblack();
  font-size: 24px;
}

/* loading spinner */
.load-6 {
  animation: loading_end 6s;
  animation-iteration-count: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient($purple, $pink);
  opacity: 0;
}

.letter-holder {
  display: flex;
  @include fontblack;
  font-size: 300%;
  justify-content: center;
  align-items: center;
  height: 850px;
}

.letter {
  color: $green;
  animation: loading 1.7s linear 2;
  
}

.l-1 {
  animation-delay: 0.48s;
}
.l-2 {
  animation-delay: 0.6s;
}
.l-3 {
  animation-delay: 0.72s;
}
.l-4 {
  animation-delay: 0.84s;
}
.l-5 {
  animation-delay: 0.96s;
}
.l-6 {
  animation-delay: 1.08s;
}
.l-7 {
  animation-delay: 1.2s;
}
.l-8 {
  animation-delay: 1.32s;
}
.l-9 {
  animation-delay: 1.44s;
}
.l-10 {
  animation-delay: 1.56s;
}
.l-11 {
  animation-delay: 1.68s;
}


/* header */
.header
{
  @include fontlogo();
  text-align: center;
  &__logo
  {
    margin: 15px 0px;
  }
}

/* choix de la localisation de recherche */
.location
{
  background-color: darken($primary, 5%) ;
  text-align:center;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: inset 5px 12px 5px -10px darken($primary, 20%);
  &__libelle
  {
    padding-left: 10px;
    font-weight: bold;
  }
}

/* présentation courte de l'entreprise */
.introducing
{
  background-color: $primary;
  text-align: center;
  padding: 15px 15px 10px 15px;
  height: 260px;
  p
  {
    font-size: 18px;
    margin-top: 5px;
    padding-bottom: 25px;
  }

  a
  {
    @include button;
    text-decoration: none;
    cursor: pointer;
  }
}

/* principes de fonctionnement */

.working
{
  margin-left: 15px;
  margin-right: 15px;
}

.working__steps
{
  display: flex;
  justify-content:space-around;
  flex-wrap:wrap;
  width: 100%;
}
.working__step
{
  background-color: $primary;
  width: 300px;
  margin-bottom: 20px;
  padding: 20px 30px 20px 0px;
  border-radius: 20px;
  position: relative;
  left: 12px;
  box-shadow: 5px 5px 5px darken($primary, 5%);
  &:hover{
    @include hover_wl;
  }
  &__numbering
  {
    display:inline-block;
    background-color: $purple;
    color: white;
    font-size: 70%;
    font-weight: bold;
    border-radius: 12px;
    width: 24px;
    height: 20px;
    text-align: center;
    padding-top: 4px;
    position: absolute;
    left: -10px;
  }
  i
  {
    margin-right: 10px;
    margin-left:30px;
    color: darken($primary, 50%);
  }
  &__text
  {
    @include fontnormal();
    font-weight:800;
  }
}

/* Présentation des restaurants */

#restaurant_lists
{
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $primary;
}

.restaurant_title
{
  margin: 0px 20px
}
.restaurant
{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    &__list
    {
      height: 100%;
      width: 270px;
      background-color: white;
      box-sizing: border-box;
      box-shadow: 5px 5px 5px darken($primary, 5%);
      border-radius: 20px;
      margin: 20px;
    }
    &__visual
    {
      margin: 0px;
    }
    a
    {
      text-decoration: none;
      color: black;
      
    }
    img
    {
      object-fit: cover;
      max-width: 100%;
      width: 100%;
      max-height: 100%;
      height: 150px;
      border-radius: 20px 20px 0px 0px;
      
    }
    &__description
    {
      @include fontblack();
      font-size: 15px;
      font-weight: 800;
      margin: 4px 30px 0px 12px;
      height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    p
    {
      margin: 0px 0px 10px 12px;
      font-size: 15px;
    }

    figcaption
    {
      position: relative;
    }

    &__new
    {
      position: absolute;
      right: 10px;
      top: -150px;
      padding: 5px 10px;
      background-color: $green;
      border-radius: 3px;
      color:darken($green, 40%);
      font-size: 15px;
      font-weight: 800;
    }
}
.restaurant__ico
  {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 120%;
    z-index: 1;
    
  }

.restaurant__ico--color
{
  opacity: 0;
  position: absolute;
  right: 14px;
  top: 10px;
  font-size: 130%;
  background: linear-gradient($purple, $pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}

.heart
{
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 120%;
  z-index: 3;
  cursor:pointer;
  opacity: 0;
  @include heart;
}

/* footer */

.footer
{
  background-color: darken($primary, 80%);
  color: white;
  padding: 20px;
  &__logo
  {
    @include fontlogo();
  }
}

.footer__list
{
  padding-left: 0px;

  &__elmt
  {
    list-style-type: none;
    vertical-align: middle;
  a
  {
    text-decoration: none;
    color: white;
    font-size: 12px;
    position: relative;
  }
  span
  {
    font-weight: bold;
    position: absolute;
    left: 25px;
    width: 150px;
    padding-top: 3px;
  }
  }
}








