h4
{
  @include fontlogo;
  font-size: 23px;
  font-weight: normal;
}

.restaurantHeader__logo
{
  display: inline;
}
.restaurantHeader
{
  position: relative;
  i
  {
    position: absolute;
    left: 10px;
    top: 14.5px;
  }
}

.menu_img
{
  max-width: 100%;
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}

.menu_list
{
  max-width: 100%;
  position: relative;
}

.menu_header
{
  background-color: $primary;
  position: absolute;
  top: -50px;
  width: 100%;
  border-radius: 25px 25px 0px 0px;

  &__title
  {
    padding-left: 20px;
    margin-bottom: 10px;
  }

  &--heart
  {
    position: absolute;
    top: 38px;
    right: 25px;
    z-index: 3;
    opacity: 0;
    font-size: 120%;
    cursor: pointer;
    @include heart;
  }

  &__ico--color
  {
    position: absolute;
    top: 38px;
    right: 24px;
    z-index: 2;
    opacity:0;
    font-size: 130%;
    background: linear-gradient($purple, $pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__ico
  {
    position: absolute;
    top: 38px;
    right: 25px;
    z-index: 1;
    font-size: 120%;
  }
}

.menu
{
  padding-top: 13px;
  background-color:$primary;
  &__title
  {
    border-bottom: 3px solid $green;
    width: 35px;
    margin-left: 20px;
    font-weight: normal;
    padding-bottom: 5px;
  }
}

.menu_lists
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
  padding: 5px;
}

.checkbox_emplt
{
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  width: 100%;
}
.menu_details
{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  max-width: 320px;
  width: 100%;
  background-color: white;
  box-shadow: 5px 5px 5px darken($primary, 5%);
  border-radius: 20px;
  padding-left: 10px;
  cursor: pointer;
  animation: delay 0.3s;
  animation-fill-mode: both;

  @for $menudelay from 0 through 9
  {
    &--delay#{$menudelay}
    {
      animation-delay:($menudelay / 10 *2s);
    }
  }
}

.menu_list--validation
{
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  &:checked + .menu_details> .menu_list__validation
  {
    animation: valid 1s ;
    animation-fill-mode:both;
    i
    {
      transform: rotate(360deg);
      transition: transform 1s; 
    }
  }

  &:checked + .menu_details> .menu_list> .menu_list__compl
  {
    animation: reduce320 1s;
    animation-fill-mode: both;
  }

  &:checked + .menu_details> .menu_list> .menu_list__description
  {
    animation: reduce320 1s;
    animation-fill-mode: both;
  }
}  

.menu_list
{
  &__compl
  {
    margin: 0px 0px 10px 10px;
    font-size: 14px;
    max-width: 200px;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: initial;
  }

  &__description
  {
    margin: 10px 0px 5px 10px;
    font-size: 16px;
    max-width: 200px;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__price
  {
    margin: 0px 10px 10px 0px;
    align-self:flex-end;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__validation
  {
    display: flex;
    width: 0px;
    height: 61px;
    opacity: 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $green;
    color: white;
    border-radius: 0px 20px 20px 0px;
    position: relative;
  }
}


.command
{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $primary;
  text-align: center;
  align-content: center;
  &__buton
  {
  @include button;
  }  
}

