/* définition des polices et couleurs personnalisées */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

$purple: #9356DC;
$pink: #FF79DA;
$green: #99e2D0;
$primary:rgb(246, 246, 246);
$linear: linear-gradient($purple, $pink);

@mixin fontnormal {
  font-family: roboto, Arial, Helvetica, sans-serif;
}

@mixin fontblack {
  @include fontnormal();
  font-weight: 800;
}

@mixin fontlogo {
  font-family: shrikhand, roboto, Arial, sans-serif;
}

/* Modification au survol des vignettes Fonctionnements */
@mixin hover_wl {
  background-color: lighten($purple, 35%);
  i{
    color: $purple;
  }
}

/* Modification du coeur au clic */
@mixin heart {
  &:checked + i {
    opacity: 1;
    transition: all 2s;
  }
}

/* Apparence des buttons */
@mixin button {
    background:linear-gradient($pink, $purple);
    padding: 15px 25px 15px 25px;
    letter-spacing: 1px;
    margin-top: 30px;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
/* appararition des menus avec retard */
@keyframes delay {
  from{
    transform-origin: top;
    transform:scaley(0);
  }
  to{
    transform: scaley(1);
  }
}

/* apparation de la validation du menu */
@keyframes valid {
  from {
    width: 0;
    opacity: 0;
  }
  to{
    opacity: 1;
    width: 60px;
  }
}


/* Réduction longueur menu avec apparition validation */
@keyframes reduce320 {
  from{
    width: 200px;
  }
  to{
    width: 140px;
  }
}

/* Apparition du loading spinner */
@keyframes loading {
  0% {
    opacity: 0;
    transform:scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loading_end {
  0% {
    opacity: 1;
    display: inline;
  }
  80%{
    opacity: 1;
    display: inline;
  }
  100% {
    opacity:0;
    display: inline;
  }
}

@import "./homepage";
@import "./menupages";






