@charset "UTF-8";
/* appararition des menus avec retard */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@-webkit-keyframes delay {
  from {
    transform-origin: top;
    transform: scaley(0);
  }
  to {
    transform: scaley(1);
  }
}
@keyframes delay {
  from {
    transform-origin: top;
    transform: scaley(0);
  }
  to {
    transform: scaley(1);
  }
}
/* apparation de la validation du menu */
@-webkit-keyframes valid {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    opacity: 1;
    width: 60px;
  }
}
@keyframes valid {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    opacity: 1;
    width: 60px;
  }
}
/* Réduction longueur menu avec apparition validation */
@-webkit-keyframes reduce320 {
  from {
    width: 200px;
  }
  to {
    width: 140px;
  }
}
@keyframes reduce320 {
  from {
    width: 200px;
  }
  to {
    width: 140px;
  }
}
/* Apparition du loading spinner */
@-webkit-keyframes loading {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes loading_end {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading_end {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* apparition de la page aptés le loading spinner */
@-webkit-keyframes loading_start {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading_start {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Modification au survol des vignettes Fonctionnements */
/* Modification du coeur au clic */
/* Apparence des buttons */
/* définition des polices et couleurs personnalisées */
/* définition des styles pricipaux de la page */
#container {
  margin-top: 20px;
  font-size: 15px;
  position: relative;
  -webkit-animation: loading_start 6s;
          animation: loading_start 6s;
}

body {
  font-family: roboto, Arial, Helvetica, sans-serif;
  color: black;
}

h1 {
  font-weight: normal;
  font-size: 30px;
}
@media all and (min-width: 992px) {
  h1 {
    font-size: 250%;
  }
}

h2 {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 24px;
}
@media all and (min-width: 768px) {
  h2 {
    text-align: center;
  }
}
@media all and (min-width: 992px) {
  h2 {
    font-size: 200%;
  }
}

/* loading spinner */
.load-6 {
  -webkit-animation: loading_end 6s;
          animation: loading_end 6s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(#9356DC, #FF79DA);
  opacity: 0;
}

.letter-holder {
  display: flex;
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 300%;
  justify-content: center;
  align-items: center;
  height: 850px;
}

.letter {
  color: #99e2D0;
  -webkit-animation: loading 1.7s linear 2;
          animation: loading 1.7s linear 2;
}

.l-1 {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.l-2 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.l-3 {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}

.l-4 {
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}

.l-5 {
  -webkit-animation-delay: 0.96s;
          animation-delay: 0.96s;
}

.l-6 {
  -webkit-animation-delay: 1.08s;
          animation-delay: 1.08s;
}

.l-7 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.l-8 {
  -webkit-animation-delay: 1.32s;
          animation-delay: 1.32s;
}

.l-9 {
  -webkit-animation-delay: 1.44s;
          animation-delay: 1.44s;
}

.l-10 {
  -webkit-animation-delay: 1.56s;
          animation-delay: 1.56s;
}

.l-11 {
  -webkit-animation-delay: 1.68s;
          animation-delay: 1.68s;
}

/* header */
.header {
  font-family: shrikhand, roboto, Arial, sans-serif;
  text-align: center;
}
.header__logo {
  margin: 15px 0px;
}

/* choix de la localisation de recherche */
.location {
  background-color: #e9e9e9;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: inset 5px 12px 5px -10px #c3c3c3;
}
.location__libelle {
  padding-left: 10px;
  font-weight: bold;
}

/* présentation courte de l'entreprise */
.introducing {
  background-color: #f6f6f6;
  text-align: center;
  padding: 15px 15px 10px 15px;
  height: 260px;
}
.introducing p {
  font-size: 18px;
  margin-top: 5px;
  padding-bottom: 25px;
}
.introducing a {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px 25px 15px 25px;
  letter-spacing: 1px;
  margin-top: 30px;
  border-radius: 25px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

/* principes de fonctionnement */
.working {
  margin-left: 15px;
  margin-right: 15px;
}

.working__steps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.working__step {
  background-color: #f6f6f6;
  width: 300px;
  margin-bottom: 20px;
  padding: 20px 30px 20px 0px;
  border-radius: 20px;
  position: relative;
  left: 12px;
  box-shadow: 5px 5px 5px #e9e9e9;
}
.working__step:hover {
  background-color: #f2eafb;
  box-shadow: 5px 5px 5px #c3c3c3;
}
.working__step:hover i {
  color: #9356DC;
}
.working__step__numbering {
  display: inline-block;
  background-color: #9356DC;
  color: white;
  font-size: 70%;
  font-weight: bold;
  border-radius: 12px;
  width: 24px;
  height: 20px;
  text-align: center;
  padding-top: 4px;
  position: absolute;
  left: -10px;
}
.working__step i {
  margin-right: 10px;
  margin-left: 30px;
  color: #777777;
}
.working__step__text {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-weight: 800;
}

/* Présentation des restaurants */
#restaurant_lists {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f6f6f6;
}

.restaurant_title {
  margin: 0px 20px;
}

.restaurant {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
@media all and (min-width: 945px) {
  .restaurant {
    padding-left: 70px;
    padding-right: 70px;
  }
}
@media all and (min-width: 1085px) {
  .restaurant {
    padding-left: 156px;
    padding-right: 156px;
  }
}
@media all and (min-width: 1255px) {
  .restaurant {
    padding-left: 0;
    padding-right: 0;
  }
}
.restaurant__list {
  height: 100%;
  width: 270px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px #e9e9e9;
  border-radius: 20px;
  margin: 20px;
}
.restaurant__visual {
  margin: 0px;
}
.restaurant a {
  text-decoration: none;
  color: black;
}
.restaurant img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
}
.restaurant__description {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 15px;
  font-weight: 800;
  margin: 4px 30px 0px 12px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restaurant p {
  margin: 0px 0px 10px 12px;
  font-size: 15px;
}
.restaurant figcaption {
  position: relative;
}
.restaurant__new {
  position: absolute;
  right: 10px;
  top: -150px;
  padding: 5px 10px;
  background-color: #99e2D0;
  border-radius: 3px;
  color: #278870;
  font-size: 15px;
  font-weight: 800;
}

.restaurant__ico {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 120%;
  z-index: 1;
}

.restaurant__ico--color {
  opacity: 0;
  position: absolute;
  right: 14px;
  top: 10px;
  font-size: 130%;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}

.heart {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 120%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}
.heart:checked + i {
  opacity: 1;
  transition: all 2s;
}

/* footer */
.footer {
  background-color: #2a2a2a;
  color: white;
  padding: 20px;
}
@media all and (min-width: 768px) {
  .footer {
    text-align: center;
  }
}
@media all and (min-width: 992px) {
  .footer {
    font-size: 150%;
  }
}
.footer__logo {
  font-family: shrikhand, roboto, Arial, sans-serif;
}

.footer__list {
  padding-left: 0px;
}
.footer__list__elmt {
  list-style-type: none;
  vertical-align: middle;
}
.footer__list__elmt a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  position: relative;
}
.footer__list__elmt span {
  font-weight: bold;
  position: absolute;
  left: 25px;
  width: 150px;
  padding-top: 3px;
}
@media all and (min-width: 768px) {
  .footer__list__elmt span {
    position: initial;
  }
}

h4 {
  font-family: shrikhand, roboto, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
}
@media all and (min-width: 768px) {
  h4 {
    text-align: center;
  }
}
@media all and (min-width: 992px) {
  h4 {
    font-size: 200%;
  }
}

.restaurantHeader__logo {
  display: inline;
}

.restaurantHeader {
  position: relative;
}
.restaurantHeader i {
  position: absolute;
  left: 10px;
  top: 14.5px;
}

.menu_img {
  max-width: 100%;
  max-height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu_list {
  max-width: 100%;
  position: relative;
}

.menu_header {
  background-color: #f6f6f6;
  position: absolute;
  top: -50px;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
}
@media all and (min-width: 992px) {
  .menu_header {
    top: -70px;
  }
}
.menu_header__title {
  padding-left: 20px;
  margin-bottom: 10px;
}
.menu_header--heart {
  position: absolute;
  top: 38px;
  right: 25px;
  z-index: 3;
  opacity: 0;
  font-size: 120%;
  cursor: pointer;
}
.menu_header--heart:checked + i {
  opacity: 1;
  transition: all 2s;
}
.menu_header__ico--color {
  position: absolute;
  top: 38px;
  right: 24px;
  z-index: 2;
  opacity: 0;
  font-size: 130%;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_header__ico {
  position: absolute;
  top: 38px;
  right: 25px;
  z-index: 1;
  font-size: 120%;
}

.menu {
  padding-top: 15px;
  background-color: #f6f6f6;
}
.menu__title {
  border-bottom: 3px solid #99e2D0;
  width: 35px;
  margin-left: 20px;
  font-weight: normal;
  padding-bottom: 5px;
}
@media all and (min-width: 992px) {
  .menu__title {
    font-size: 120%;
    width: 45px;
  }
}

.menu_lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
  padding: 5px;
}

.checkbox_emplt {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  width: 100%;
}

.menu_details {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  max-width: 320px;
  width: 100%;
  background-color: white;
  box-shadow: 5px 5px 5px #e9e9e9;
  border-radius: 20px;
  padding-left: 10px;
  cursor: pointer;
  -webkit-animation: delay 0.3s;
          animation: delay 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu_details--delay0 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.menu_details--delay1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.menu_details--delay2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.menu_details--delay3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.menu_details--delay4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.menu_details--delay5 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.menu_details--delay6 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.menu_details--delay7 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.menu_details--delay8 {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
.menu_details--delay9 {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.menu_list--validation {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.menu_list--validation:checked + .menu_details > .menu_list__validation {
  -webkit-animation: valid 1s;
          animation: valid 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu_list--validation:checked + .menu_details > .menu_list__validation i {
  transform: rotate(360deg);
  transition: transform 1s;
}
.menu_list--validation:checked + .menu_details > .menu_list > .menu_list__compl {
  -webkit-animation: reduce320 1s;
          animation: reduce320 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu_list--validation:checked + .menu_details > .menu_list > .menu_list__description {
  -webkit-animation: reduce320 1s;
          animation: reduce320 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu_list__compl {
  margin: 0px 0px 10px 10px;
  font-size: 14px;
  max-width: 200px;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: initial;
}
.menu_list__description {
  margin: 10px 0px 5px 10px;
  font-size: 16px;
  max-width: 200px;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu_list__price {
  margin: 0px 10px 10px 0px;
  align-self: flex-end;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}
.menu_list__validation {
  display: flex;
  width: 0px;
  height: 61px;
  opacity: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #99e2D0;
  color: white;
  border-radius: 0px 20px 20px 0px;
  position: relative;
}

.command {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f6f6f6;
  text-align: center;
  align-content: center;
}
.command__buton {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px 25px 15px 25px;
  letter-spacing: 1px;
  margin-top: 30px;
  border-radius: 25px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */